
@{
    ViewBag.Title = "AccountDeleted";
}

<hgroup class="title">
    <h1>Konto avslutat!</h1>
</hgroup>
<div>
    <a class="btn btn-primary" href="@Url.Action("Index","Courses")">Till kursöversikt</a>
</div>