
@{
    ViewBag.Title = "AccountDeleted";
}

<hgroup class="title">
    <h1>Account deleted!</h1>
</hgroup>
<div>
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Back to start page</a>
</div>