
@{
    ViewBag.Title = "AccountDeleted";
}

<hgroup class="title">
    <h1></h1>
</hgroup>
<font size="66" color="#3ed3d3">Konto avslutat!</font>
<div>
    <a class="btn btn-info" href="@Url.Action("Index","Courses")">Till kursöversikt</a>
</div>