
@{
    ViewBag.Title = "Failure";
}

<h1>Ett fel har inträffat</h1>

<hgroup class="title">
</hgroup>
<div>
    <p>
        Kontakta support !
    </p>
    <a class="btn btn-primary" href="@Url.Action("Index","Courses")">Till kursöversikt</a>
</div>