
@{
    ViewBag.Title = "Failure";
}

<h1>Failure</h1>

<hgroup class="title">
</hgroup>
<div>
    <p>
        Contact support !
    </p>
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Back to start page</a>
</div>