
@{
    ViewBag.Title = "Non Existing Account";
}
<link rel="stylesheet" href="../Content/Login.css" />

<font size="66" color="#3ed3d3">Konto med angiven E-postadress finns inte!</font>

<div>
    <a class="btn btn-primary" href="@Url.Action("Index","Courses")">Till kursöversikt</a>
    <a class="btn btn-primary" href="@Url.Action("ExitAccount","Account")">Till kontoborttagning</a>
</div>