
@{
    ViewBag.Title = "NotAllowedToDeleteOwnAccount";
}

<font size="66" color="red">You are not allowed to delete own account!</font>

<hgroup class="title"></hgroup>
<div>
    <p>
        Contact support !
    </p>
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Back to start page</a>
</div>