
@{
    ViewBag.Title = "SpecifiedPasswordNotMatchLoggedInUser";
}

<font size="88" color="red">Specified password not match the logged in user !</font>

<hgroup class="title"></hgroup>
<div>
    <p>
        <font size="50" color="orange" >Are you sure it's really you who are logged in?</font>
    </p>
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Back to start page</a>
</div>
