
@{
    ViewBag.Title = "SpecifiedPasswordNotMatchLoggedInUser";
}

<font size="88" color="red">Angivet lösenord stämmer inte med inloggad användaren !</font>

<hgroup class="title"></hgroup>
<div>
    <p>
        <font size="50" color="orange" >Är Du verkligen inloggad lärare ?</font>
    </p>
    <a class="btn btn-info" href="@Url.Action("Index","Courses")">Till kursöversikt</a>
    <a class="btn btn-info" href="@Url.Action("ExitAccount","Account")">Till kontoborttagning</a></div>
