@model IEnumerable<LMS.Models.ApplicationUser>

<h3>Students:</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @if (User.IsInRole("Teacher"))
            {
                @Html.ActionLink("Delete", "Delete", "Account", new { id = item.Id }, null)
            }
        </td>
    </tr>
}

</table>
