@model IEnumerable<LMS.Models.Period>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.schedule.js"></script>
<link href="~/Scripts/jquery.schedule.css" rel="stylesheet" />

@{ 
	string periodString = "";
	if (Model != null && Model.Count() > 0)
	{
		for (int i = 0; i <= 4; i++)
		{
			periodString += "{\"day\": " + i + ",\"periods\": [";
			foreach (var period in Model.Where(p => p.Day == i))
			{
				periodString += "[\"" + period.StartHour + ":" + period.StartMinute + "\", \"" + period.EndHour + ":" + period.EndMinute + "\"],";
			}
			periodString = periodString.TrimEnd(',');
			periodString += "]},";
		}
		periodString = periodString.TrimEnd(',');
	}
	
}

<h3>Schema</h3>

<div id="schedule" class="row"></div>

<script>
	$("#schedule").jqs({
		mode: "read",
		data: 
		[
			@Html.Raw(periodString)	
		]
	});
</script>