body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Whitney SSm A","Whitney SSm B",arial,sans-serif;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

.header-image {
    margin: 15px 0 15px 0;
    height: auto;
}

.wide-text {
    max-width: 1000px; 
}

ul.navbar-nav {
    margin: 28px 0 28px 0;
    height: auto;
}

#Scheme {
    display: none;
    border-color: black;
    border: 1px solid transparent;
}

#studentList {
    display: none;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #8eff96;
}

.row {
    margin-left: 0px;
    margin-right:0px;
}